{%extends 'base.html'%}
{% block content%}
<div class="container" style="margin-top: 60px;">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h3 class="card-title">About Us</h3>
            <hr>
            <p class="card-text">
                The motto of the cosmo juris विद्यार्थी लभते विद्याम refer to the one who aspires wisdom and attains it.
                The Cosmo juris is an online driven platform centralized for the legal scholars, researchers and also
                for the enthusiastic mind with the objective to enhance rather the majority-minority their voices and to
                promote the high quality legal research on different contemporary and legal topics. We further aim to
                enlighten our readers with a catena of information related to various aspects of legal developments and
                enticing opportunities so that everyone even ordinary person benefitted in the present Legal Era. With
                this aim, we bring to our viewers' details of competitions like Call for papers, Moot court
                competitions, Debate competitions, client counselling competitions, Memorial-drafting competitions,
                Essay competitions, MUNs and other related competitions

            </p>
        </div>
    </div>
</div>
{% endblock %}