{% extends 'base.html'%}
{% block content%}

<div class="container-fluid" style="margin-top: 60px;">
        <div class="row">
                <div class="col-md-2" style="background-color: #1E3750;">
                        <ul style="list-style-type: none;">
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='manage_user')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-users fa-lg"></span>Manage
                                                User/Staff</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='edit_or_delete')}}"
                                        style="text-decoration: none; color: white;"><span
                                                class="fa fa-users fa-lg"></span>
                                        Edit/ Delete Member</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='delete_editor')}}"
                                        style="text-decoration: none; color: white;"><span
                                                class="fa fa-users fa-lg"></span>
                                        Edit Editor</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='manage_events')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-calendar fa-lg"></span>
                                                Manage Events</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='manage_prizes')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-trophy fa-lg"></span>
                                                Prize/Accredation</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='upload_blogs')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-blog fa-lg"></span>
                                                Upload Blog</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='oppt')}}"
                                        style="text-decoration: none; color: white;"><span
                                                class="fa fa-blog fa-lg"></span>
                                        Oppurtunities</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='upload_journal')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-newspaper fa-lg"></span>
                                                Upload Journal</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('view_blogs')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-eye fa-lg"></span>
                                                View Blog</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('view_journals')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-eye fa-lg"></span>
                                                View Journals</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='view_feedback')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-comments fa-lg"></span>
                                                View Feedbacks</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='leader_speaks')}}"
                                        style="text-decoration: none; color: white;"><span
                                                class="fa fa-comments fa-lg"></span>
                                        Leadership Speaks</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='upload_poster')}}"
                                        style="text-decoration: none; color: white;"><span
                                                class="fa fa-comments fa-lg"></span>
                                        Upload Poster</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('cms',action='interview')}}"
                                        style="text-decoration: none; color: white;"><span
                                                class="fa fa-comments fa-lg"></span>
                                        Interviews</a></li>
                                <li style="margin-bottom: 15px;"><a href="{{url_for('logout')}}"
                                                style="text-decoration: none; color: white;"><span
                                                        class="fa fa-log-out fa-lg"></span>
                                                Logout</a></li>

                        </ul>

                </div>
                <div class="col-md-10">
                        {% if send_action == 'manage_user'  %}
                        {% include 'cms/manage_user.html'%}
                        {% elif send_action == 'manage_events'%}
                        {% include 'cms/manage_events.html'%}
                        {% elif send_action == 'manage_prizes'%}
                        {% include 'cms/manage_prizes.html'%}
                        {% elif send_action == 'upload_blogs'%}
                        {% include 'cms/upload_blog.html'%}
                        {% elif send_action == 'upload_journal'%}
                        {% include 'cms/upload_journal.html'%}
                        {% elif send_action == 'view_feedback'%}
                        {% include 'cms/view_feedback.html'%}
                        {% elif send_action == 'edit_or_delete'%}
                        {% include 'cms/edit_delete_member.html'%}
                        {% elif send_action == 'delete_editor'%}
                        {% include 'cms/delete_editor.html'%}
                        {% elif send_action == 'leader_speaks'%}
                        {% include 'cms/leader_speaks.html'%}
                        {% elif send_action == 'upload_poster'%}
                        {% include 'cms/poster.html'%}
                        {% elif send_action == 'interview'%}
                        {% include 'cms/interviews.html'%}
                        {% elif send_action == 'oppt'%}
                        {% include 'cms/oppt.html'%}
                        {% endif %}
                </div>
        </div>
</div>

{% endblock %}