{%extends 'base.html'%}
{% block content %}
<div class="container" style="margin-top:60px">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Article Writing</h3>
                    <p class="card-text">For results regarding article writing click here</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Blogs</h3>
                    <p class="card-text">For results regarding blog writing click here</p>
                    <button class="btn btn-primary">Read more</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Case Comment/Analysis</h3>
                    <p class="card-text">For results regarding Case Comment/Analysis click here</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Debates</h3>
                    <p class="card-text">For results of debates click here</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Essay Competition</h3>
                    <p class="card-text">For results regarding Essay Competition click here</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Quiz Competition</h3>
                    <p class="card-text">For results regarding quiz Competition click here</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Journal</h3>
                    <p class="card-text">For results regarding Journal writing click here</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Moot</h3>
                    <p class="card-text">For results regarding moot click here</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Internships</h3>
                    <p class="card-text">For results regarding Internships click here</p>
                    <button class="btn btn-primary"><a href="/oppt" style="text-decoration: none;color: white;">Read More</a></button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h3 class="card-title">Legal Research Guidelines</h3>
                    <p class="card-text">For legal Research Guidelines</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}