<div class="jumbotron" style="background-color: #0F1E40;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-white" style="font-weight: bold;">About the Organisation</h4>
                <br>
                <p class="text-white">Cosmo Juris is a student-driven online platform for Law students, researchers,
                    scholars and enthusiasts which seeks to bring Legal Fraternity together. We acknowledge, and
                    encourage the legal fraternity to come up with their research articles in the form of blogs and
                    thereby provide them with a one-stop platform to express their Knowledge. We have a full-fledged
                    team of writers and Editors who brings to you Information related to various legal developments, and
                    opportunities for law students. We believe in providing Law students and researchers with our
                    exclusive contents and opportunities which will keep them Updated with the legal arena.</p>
            </div>
            <div class="col-md-2">
                <h4 class="text-white" style="font-weight: bold;">Reach Us</h4>
                <br>
                <p><a class="text-white" href="tel:000-000-000" style="text-decoration: none;">Tel: 000-000-000</a>
                </p>
                <br>
                <p><a class="text-white" href="mailto:cosmojuris@gmail.com" style="text-decoration: none;">Email:
                        cosmojuris@gmail.com</a></p>
                <p class="text-white">For better reach contact between 9AM to 7PM</p>

            </div>
            <div class="col-md-4">
                <h4 class="text-white" style="font-weight: bold;">Social Connect</h4>
                <div class="row">
                    <div class="col-4">
                        <p><a href="https://m.facebook.com/Cosmo-Juris-109586567849198/"> <img src="https://img.icons8.com/wired/64/000000/facebook.png"
                                    style="background-color: antiquewhite;" /></a></p>
                    </div>
                    <div class="col-4">
                        <p><a href="#"><img src="https://img.icons8.com/wired/64/000000/twitter.png"
                                    style="background-color: antiquewhite;" /></a></p>
                    </div>
                    <div class="col-4">
                        <p><a href="https://www.instagram.com/cosmo.juris/"><img
                                    src="https://img.icons8.com/carbon-copy/64/000000/instagram.png"
                                    style="background-color: antiquewhite;" /></a> </p>
                    </div>
                    <div class="col-4">
                        <p><a href="https://youtube.com/channel/UCBu2OfCJAX0c_K0jL1dRdKw"><img
                                    src="https://img.icons8.com/wired/64/000000/youtube.png"
                                    style="background-color: antiquewhite;" /></a> </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>