<div class="container-fluid" style="margin-top: 100px;">
    <h3 class="text-center">Interviews</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="interview_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject">
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <input type="text" class="form-control" name="summary">
        </div>
        <div class="form-group">
            <label for="detail">Detail</label>
            <textarea id="summernote" name="editordata"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Subject</label>
            <input type="file" class="form-control" name="image">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="submit_interview" value="Submit Now">
        </div>
    </form>
</div>