<div class="container-fluid" style="margin-top: 60px;">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">ADD PRIZE/ACHIEVEMENT</h3>
            <hr>
            <form action="">
                <div class="form-group">
                    <label for="event+prize">Event for Prize</label>
                    <select name="event_prize">
                        <option value="seminar">Seminar</option>
                        <option value="webinar">Webinar</option>
                        <option value="moot">Moot</option>
                        <option value="debate">Debate</option>
                        <option value="Quiz">Quiz</option>
                        <option value="Blogs">Blogs</option>
                        <option value="Article Writing">Article Writing</option>
                        <option value="Case Analysis">Case/Comment Analysis</option>
                        <option value="Internships">Internships</option>
                        <option value="Journal">Journal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="first">First</label>
                    <input type="text" name="first" class="form-control">
                </div>
                <div class="form-group">
                    <label for="second">Second</label>
                    <input type="text" name="second" class="form-control">
                </div>
                <div class="form-group">
                    <label for="third">Third</label>
                    <input type="text" name="third" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" name="submit_achievement" value="Add Prize" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>